@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

/* Global Styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Karla', sans-serif;
    background-color: var(--light-gray);
    color: var(--white);
}


/* Colors  */

:root {
    --cyan: hsl(179, 62%, 43%);
    --bright-yellow: hsl(71, 73%, 54%);
    --light-gray: hsl(204, 43%, 93%);
    --grayish-blue: hsl(218, 22%, 67%);
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
}


/* Typography */

.heading {
    font-size: 1.1rem;
    font-weight: 700;
    letter-spacing: .6px;
}

.service-heading {
    font-size: 1.25rem;
    color: var(--cyan);
}

.service-guarantee {
    font-size: .9375rem;
    font-weight: 700;
    color: var(--bright-yellow);
    line-height: 1.4375rem;
}

p {
    font-size: .8125rem;
    line-height: 1.5625rem;
}

.service-description {
    color: var(--grayish-blue);
}

.subscription-price {
    font-size: 1.75rem;
    font-weight: 700;
}

span {
    font-size: 1rem;
    font-weight: 400;
}

.subscription-details,
.features-info {
    color: var(--light-gray);
}

.subscription-details {
    font-size: 1rem;
}

.features-info {
    letter-spacing: .7px;
}


/* Layout */

.grid-container {
    width: 83%;
    margin: 4.3em 2em 4.68em;
}

.service {
    background-color: var(--white);
    border-radius: 7px 7px 0 0;
    padding: 2.1em 1.43em;
}

.service-heading,
.service-guarantee {
    margin-bottom: 1.2em;
}

.subscription {
    background-color: var(--cyan);
    border-bottom: 3px solid var(--cyan);
    padding: 1.68em 1.43em 1.25em;
}

.subscription-heading {
    margin-bottom: 1.12em;
}

.subscription-price {
    margin-bottom: .31em;
}

span {
    margin-left: .75em;
    opacity: .4;
    position: absolute;
}

.subscription-details {
    margin-bottom: 2em; 
}

.btn {
    display: block;
    text-decoration: none;
    background-color: var(--bright-yellow);
    color: var(--white);
    font-weight: 700;
    text-align: center;
    padding: .9em; 
    border: none;
    border-radius: 7px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.features {
    background-color: var(--cyan);
    opacity: .8;
    padding: 1.43em 1.43em 1.75em;
    border-radius: 0 0 7px 7px;
}

.features-heading {
    margin-bottom: .62em;
}

.features-info {
    line-height: 1.25rem;
}

/* Footer */

.attribution { 
    font-size: .68rem;
    text-align: center; 
    color: var(--black);
}

.attribution a {
     color: hsl(228, 45%, 44%); 
    }

